/* ---- Common Content ---- */

#body {
    margin: auto;
    background: url("../images/background2.jpg");
    font-size: 14px;
    font-family: arial;
}

a {
    text-decoration: none !important;
}

@media all and (min-width: 900px) {
    .container, #body {
        width: 900px;
    }
}

footer {
    margin: 15px auto;
    padding-right: 10px;
    text-align: right;
}

h3 {
    display: inline-block;
}

.bullet {
    padding-bottom: 7px;
}


/* ---- Navigation Bar ---- */
header {
    background-color: blue;
}

.navbar-brand img {
    display: inline-block;
}

#logo {
    margin-top: -60px;
    height: 100px;
}

#myPhoto {
    border: 2px solid #fff;
    height: 170px;
    box-shadow: 2px 2px 2px black;
}

.tab-panels .panel {
    display: none;
    border: 1px solid #004d99;
    border-top: 0;
    border-radius: 0 0 30px 30px;
    margin: auto;
    background-color: #fff;
    border-top: 0;
    -webkit-box-shadow: 1px 1px 1px 1px grey;
    -moz-box-shadow: 1px 1px 1px 1px grey;
    box-shadow: 1px 1px 1px 1px grey;
}

.tab-panels .panel.active {
    display: block;
}

.navigationBar {
    padding: 15px 0;
    background-color: #004d99 !important;
    border: none;
    margin-bottom: 0 !important;
}

.navigationBar a {
    color: #fff;
    margin: 0 15px;
    font-size: 16px;
}

.navigationBar a:hover  {
    color: #ffe500;
    background-color: #004d99 !important;
}

.navigationBar a:focus  {
    color: #fff;
    background-color: #004d99 !important;
}

.icon-bar {
    background: #fff;
}




/* ---- Title Bar ---- */
.titleBar {
    padding-top: 30px;
    margin: 0;
    border-bottom: 1px dashed #004d99;
    /*background: rgba(47,107,163,1);*/
    /*background: -moz-linear-gradient(left, rgba(47,107,163,1) 0%, rgba(47,107,163,1) 36%, rgba(0,77,153,1) 100%);*/
    /*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(47,107,163,1)), color-stop(36%, rgba(47,107,163,1)), color-stop(100%, rgba(0,77,153,1)));*/
    /*background: -webkit-linear-gradient(left, rgba(47,107,163,1) 0%, rgba(47,107,163,1) 36%, rgba(0,77,153,1) 100%);*/
    /*background: -o-linear-gradient(left, rgba(47,107,163,1) 0%, rgba(47,107,163,1) 36%, rgba(0,77,153,1) 100%);*/
    /*background: -ms-linear-gradient(left, rgba(47,107,163,1) 0%, rgba(47,107,163,1) 36%, rgba(0,77,153,1) 100%);*/
    /*background: linear-gradient(to right, rgba(47,107,163,1) 0%, rgba(47,107,163,1) 36%, rgba(0,77,153,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f6ba3', endColorstr='#004d99', GradientType=1 );*/
}

.titleBar h1 {
    color: #004d99;
    text-align: right;
    padding-right: 20px;
}



@media all and (max-width: 900px) {
    .titleBar {
        padding-top: 10px;
    }
    .navbar-brand img {
        display: block;
    }
    #logo {
        height: 80px;
    }
    #myPhoto {
        margin-top: -20px;
        height: 100px;
    }
}

@media all and (max-width: 380px) {
    #myPhoto {
        margin-top: -60px;
        height: 100px;
    }
}



/* ---- Begin of Home Page ---- */
#personalPhoto {
    display: block;
    width: 210px;
    margin: 20px auto;
}

.social {
    text-align: center;
}

.social img {
    display: block;
    width: 230px;
    margin: 20px auto;
}

.profile p {
    padding: 50px 20px;
}

@media all and (min-width: 768px) {
    .profile p {
        padding: 50px 100px;
    }
}
/* ---- End of Home Page ---- */

/* ---- Begin of Resume Page ---- */
.resumeList {
    list-style-type: none;
}

.resumeActivities {
    list-style-type: disc;
}

.skillsTable tr td {
    padding: 5px;
    border-bottom: 1px dotted #004d99;
}

.tdStars {
    white-space: nowrap;
}

#downloadPdf {
    text-align: center;
    background: #004d99;
    padding-bottom: 30px;
}

#downloadPdf h3 {
    color: #fff;
    padding-bottom: 20px;
}

#downloadPdf a {
    background: #c6c6c6;
    padding: 15px;
    color: #004d99;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#downloadPdf a:hover {
    background: #a6a6a6;
    color: #fff;
}

#certifications {
    text-align: center;
}

#certifications img {
    width: 150px;
    margin: 10px;
}
/* ---- End of Resume Page ---- */

/* ---- Begin of Contact Page ---- */
#contactForm input, #contactForm textarea {
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid #004d99;
    color: #004d99;
}

#contactForm button {
    float: right;
    padding: 10px 30px;
    margin-bottom: 30px;
    background: #004d99;
    border: 1px solid #c6c6c6;
    color: #fff;
}

#contactForm button:hover {
    background: #c6c6c6;
    border: 1px solid #004d99;
    color: #004d99;
}

#contactInfo {
    padding: 20px;
}

#contactInfo ul {
    list-style-image: url("../images/mail.png");
}

#contactInfo ul li:first-child {
    list-style-image: url("../images/phone.png");
}

#contactInfo ul li:last-child {
    list-style-image: url("../images/address.png");
}

#contactInfo ul li {
    padding: 10px;
    margin: 10px 30px;
}

#contactInfo ul li a{
    font-size: 130%;
    color: #000;
}
/* ---- End of Contact Page ---- */

#thankyou {
    text-align: center;
    color: #004d99;
    margin: 50px 0 20px 0;
}

#nameError, #emailError, #messageError {
    color: red;
    display: block;
}

/* ---- Begin of Portfolio Page ---- */

.portfolio {
    margin: 20px auto;
    text-align: center;
}

.portfolio img {
    border: 1px solid black;
}

#tictactoe, #rps, #rpsls  {
    height: 300px;
}

#nfl {
    height: 150px;
}
