.resumeList {
    list-style-type: none;
}

.resumeActivities {
    list-style-type: disc;
}

.skillsList li {
    padding: 5px;
    margin-right: 20%;
    border-bottom: 1px dotted $primary-color;
}

.bullet {
    padding-bottom: 7px;
}

#downloadPdf {
    text-align: center;
    background: $primary-color;
    padding: 15px 0 40px 0;

    h3 {
        color: $white;
        margin-left: 0;
        padding: 10px 0;
    }

    p {
        color: $white;
    }

    button {
        margin: 2%;

        &:hover {
            @include box-shadow(2px 2px 2px $ternary-color);
        }
    }
}

#certifications {
    text-align: center;

    img {
        @include width(150px);
        margin: 10px;
    }
}