// #### COLORS ####
$primary-color: #004d99;
$secondary-color: #004D9E;
$ternary-color: #0a0a66;
$text-color: #333333;
$link-color: #222222;
$menu-yellow: #ffe500;
$white: #ffffff;
$black: #000000;
$grey: #808080;
$transparent: rgba(0,0,0,0);

// #### FONTS ####
$headers-font: "Bitter", Georgia, serif;
$body-font: "PT Sans", Arial, sans-serif;

// #### FONT SIZE ####
$base-size: 14px;

// #### SIZES ####
$content-width: 900px;

// #### SCREEN SIZES ####
$desktop: 900px;
$tablet: 768px;
$mobile: 568px;
